aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncio-nats-client==0.11.5
attrs==21.4.0
charset-normalizer==2.0.12
frozenlist==1.3.0
idna==3.3
j2tools==2019.3
Jinja2==3.1.2
MarkupSafe==2.1.1
marshmallow==3.16.0
motor==3.0.0
multidict==6.0.2
orjson==3.6.9
packaging==21.3
Pillow==9.1.1
pydantic==1.9.1
pymongo==4.1.1
pyparsing==3.0.9
pyzbar==0.1.9
qrcode==7.3.1
regex==2022.4.24
rocketgram==3.7.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
style==1.1.6
typing_extensions==4.2.0
umongo==3.1.0
update==0.0.1
yarl==1.7.2
